# Node modules
node_modules/
dfi-backend/node_modules/
twitch-chatbot/node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# DFE
#DareFightingICE/
DareFightingICE/DareFightingICE-7.0/log/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
session_stats.json
